In [1]:
import pandas as pd
import numpy as np

In [17]:
df1 = pd.DataFrame([[1,2,3]])
df2 = pd.DataFrame([[1,1,1]])
print(df1+df2)
print(df1-df2)
print(df1*df2)
print(df1/df2)

   0  1  2
0  2  3  4
   0  1  2
0  0  1  2
   0  1  2
0  1  2  3
     0    1    2
0  1.0  2.0  3.0

In [6]:
df1 = pd.DataFrame([[1,2,3]],columns=['a','b','c'])
df2 = pd.DataFrame([[1,1,1]],columns=['c','d','e'])
print(df1+df2)

    a   b  c   d   e
0 NaN NaN  4 NaN NaN

In [11]:
print(df1+1)
print(df1+pd.DataFrame([1]))

   a  b  c
0  2  3  4
    a   b   c   0
0 NaN NaN NaN NaN

In [9]:
a = np.array([[1,2,3]])
print(a+1)
print(a+np.array([1]))

[[2 3 4]]
[[2 3 4]]

In [13]:
df = pd.DataFrame({
    'col1': ['A', 'a', 'B', 'b'],
    'col2': [2, 1, 9, 8],
})
df

  col1  col2
0    A     2
1    a     1
2    B     9
3    b     8

In [14]:
df.sort_values(by=['col1'])

  col1  col2
0    A     2
2    B     9
1    a     1
3    b     8

In [15]:
df.sort_values(by=['col1','col2'])

  col1  col2
0    A     2
2    B     9
1    a     1
3    b     8

In [16]:
df.sort_values(by='col2',ascending=False)

  col1  col2
2    B     9
3    b     8
0    A     2
1    a     1

In [18]:
df.mean(axis=0)

col2    5.0
dtype: float64