In [2]:
import numpy as np
import pandas as pd
s = pd.Series([1,2,3])
print(s)

0    1
1    2
2    3
dtype: int64

In [3]:
s = pd.Series([1,2,3],index=['A','B','C'])
print(s)

A    1
B    2
C    3
dtype: int64

In [9]:
df = pd.DataFrame([1,2,3],index=['a','b','c'],columns=['No'])
print(df)
df

   No
a   1
b   2
c   3

   No
a   1
b   2
c   3

In [8]:
df = pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['A','B','C'])
print(df)
df

   A  B  C
a  1  2  3
b  4  5  6

   A  B  C
a  1  2  3
b  4  5  6

In [11]:
df = pd.DataFrame({'Name':['Alice','Bob'],'Age':[18,20],})
print(df)
df

    Name  Age
0  Alice   18
1    Bob   20

    Name  Age
0  Alice   18
1    Bob   20

In [14]:
df = pd.DataFrame([{'Name':'Alice','Age':18},{'Name':'Bob','Age':20}])
print(df)
df

    Name  Age
0  Alice   18
1    Bob   20

    Name  Age
0  Alice   18
1    Bob   20

In [15]:
df = pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['A','B','C'])
print(df['B'])
print(type(df['B']))

a    2
b    5
Name: B, dtype: int64
<class 'pandas.core.series.Series'>

In [17]:
print(df.shape)
print(df.size)
print(df.index)
print(df.columns)
print(df.values)

(2, 3)
6
Index(['a', 'b'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
[[1 2 3]
 [4 5 6]]

In [19]:
print(df.head())
print(df.tail())
print(df.describe())
print('---------------')
print(df.info())

   A  B  C
a  1  2  3
b  4  5  6
   A  B  C
a  1  2  3
b  4  5  6
             A        B        C
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000
---------------
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      int64
 2   C       2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes
None