In [1]:
import numpy as np
import pandas as pd

[簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？
 
 - df.loc[ '2013-01-01', 'A'] 
 - df.loc[ '2013-01-01', ['A', 'B'] ] 
 - df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
 - df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] c

請根據提供的資料，選擇出下列的要求：

 - select the first 3 rows.
 - select the odd rows. (index = 1, 3, 5)
 - select the last 2 columns.
 - select the even columns. (index = 0, 2, 4)

In [29]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  1.294917  1.206674 -0.268140
1  1.101762  1.069217  0.339998
2  0.352072  0.093923  0.518503
3  1.071011  1.022493  1.688592
4  0.457900  1.336737  0.489544
5  1.746470 -0.787077 -0.461279

In [12]:
ans1 = df[0:2]
ans1

       col1      col2      col3
0  0.654667 -0.058381  0.595443
1 -0.281691  1.534319  0.651672

In [19]:
ans2 = df[1:6:2]
ans2

       col1      col2      col3
1 -0.281691  1.534319  0.651672
3  0.519926  0.724967  0.740541
5 -0.162366 -0.919843  0.374981

In [34]:
print(df[['col2','col3']])

       col2      col3
0  1.206674 -0.268140
1  1.069217  0.339998
2  0.093923  0.518503
3  1.022493  1.688592
4  1.336737  0.489544
5 -0.787077 -0.461279

In [36]:
print(df[['col3']])

       col3
0 -0.268140
1  0.339998
2  0.518503
3  1.688592
4  0.489544
5 -0.461279

請根據提供的資料，選擇出下列的要求：
 - 1. filtered by first column > 20?
 - 2. filtered by first column + second column > 50
 - 3. filtered by first column < 30 or second column > 30
 - 4. filtered by total sum of row > 100

In [39]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4),columns=['a','b','c','d'])
df

     a   b   c   d
0   20  34  28  30
1   38  12  20  24
2   30  20  26  23
3   25  21  37  19
4   36  12  35  14
5   23  35  19  11
6   22  27  20  39
7   14  23  10  31
8   10  35  27  20
9   34  12  29  16
10  17  20  37  14
11  16  20  30  37
12  38  24  16  14
13  34  18  10  15
14  20  17  32  25

In [40]:
print(df[df['a']>20])

     a   b   c   d
1   38  12  20  24
2   30  20  26  23
3   25  21  37  19
4   36  12  35  14
5   23  35  19  11
6   22  27  20  39
9   34  12  29  16
12  38  24  16  14
13  34  18  10  15

In [41]:
print(df[(df['a']+df['b'])>50])

     a   b   c   d
0   20  34  28  30
5   23  35  19  11
12  38  24  16  14
13  34  18  10  15

In [42]:
print(df[(df['a']+df['b']+df['c']+df['d'])>100])

     a   b   c   d
0   20  34  28  30
3   25  21  37  19
6   22  27  20  39
11  16  20  30  37