In [16]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'Apples':[30],'Bananas':[21]})
df1

   Apples  Bananas
0      30       21

In [15]:
df2 = pd.DataFrame([[35,21],[41,34]],index=['2017 Sales','2018 Sales'],columns=['Apples','Bananas'])
df2

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34