In [1]:
import numpy as np

In [ ]:
# %load structured.txt
Jay,1,2,Yes,87%
James,3,4,No,3%
Joe,5,6,Yes,55%

In [4]:
dt = np.dtype('U5,i8,i8,U3')

In [7]:
a = np.genfromtxt("structured.txt",delimiter=',',dtype=dt)
a

array([('Jay', 1, 2, 'Yes'), ('James', 3, 4, 'No'), ('Joe', 5, 6, 'Yes')],
      dtype=[('f0', '<U5'), ('f1', '<i8'), ('f2', '<i8'), ('f3', '<U3')])

In [8]:
dt = np.dtype({'names':('Name','num1','num2','True'),'formats':((np.str_,5),np.int32,int,'U3')})

In [9]:
b = np.genfromtxt('structured.txt',delimiter=',',dtype=dt)
b

array([('Jay', 1, 2, 'Yes'), ('James', 3, 4, 'No'), ('Joe', 5, 6, 'Yes')],
      dtype=[('Name', '<U5'), ('num1', '<i4'), ('num2', '<i8'), ('True', '<U3')])

In [10]:
b[0]

('Jay', 1, 2, 'Yes')

In [11]:
b['Name']

array(['Jay', 'James', 'Joe'], dtype='<U5')

In [12]:
b[1]['True']

'No'

In [13]:
b[b['num2']>=3]['Name']

array(['James', 'Joe'], dtype='<U5')

In [14]:
c = np.zeros(3,dtype=dt)
c

array([('', 0, 0, ''), ('', 0, 0, ''), ('', 0, 0, '')],
      dtype=[('Name', '<U5'), ('num1', '<i4'), ('num2', '<i8'), ('True', '<U3')])

In [15]:
print(c.dtype)

[('Name', '<U5'), ('num1', '<i4'), ('num2', '<i8'), ('True', '<U3')]

In [16]:
name = ['Chloe','Charlotte','Clara']
num_1 = [11,12,13]
num_2 = [14,15,16]
check = ['Y','Y','N']

In [17]:
c['Name']=name
c['num1']=num_1
c['num2']=num_2
c['True']=check

In [18]:
print(c)

[('Chloe', 11, 14, 'Y') ('Charl', 12, 15, 'Y') ('Clara', 13, 16, 'N')]

In [19]:
c_rec = c.view(np.recarray)
c_rec

rec.array([('Chloe', 11, 14, 'Y'), ('Charl', 12, 15, 'Y'),
           ('Clara', 13, 16, 'N')],
          dtype=[('Name', '<U5'), ('num1', '<i4'), ('num2', '<i8'), ('True', '<U3')])

In [20]:
c_rec.Name

array(['Chloe', 'Charl', 'Clara'], dtype='<U5')