In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['A','B','C'])
df

   A  B  C
a  1  2  3
b  4  5  6

In [4]:
print(df['A'])
print(df['B'])

a    1
b    4
Name: A, dtype: int64
a    2
b    5
Name: B, dtype: int64

In [5]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])

print(df[['A', 'B']])
print(df[['A', 'C']])

   A  B
a  1  2
b  4  5
   A  C
a  1  3
b  4  6

In [6]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])

print(df[0:1])
print(df[0:2])

   A  B  C
a  1  2  3
   A  B  C
a  1  2  3
b  4  5  6

In [10]:
print(df.loc['a','A'])
print(df.loc['a',['A','B']])
print(df.loc[['a','b'],'A'])
print(df.loc[['a','b'],['A','B']])

1
A    1
B    2
Name: a, dtype: int64
a    1
b    4
Name: A, dtype: int64
   A  B
a  1  2
b  4  5

In [15]:
print(df.iloc[0,0])
print(df.iloc[0,[0,1]])
print(df.iloc[[0,1],0])
print(df.iloc[[0,1],[0,1]])

1
A    1
B    2
Name: a, dtype: int64
a    1
b    4
Name: A, dtype: int64
   A  B
a  1  2
b  4  5

In [21]:
print(df.at['a','A'])
print(df.iat[0,1])

1
2

In [24]:
print(df)
print(df>2)
print(df[df>2])

   A  B  C
a  1  2  3
b  4  5  6
       A      B     C
a  False  False  True
b   True   True  True
     A    B  C
a  NaN  NaN  3
b  4.0  5.0  6

In [26]:
print(df['A']>2)
print(df[df['A']>2])

a    False
b     True
Name: A, dtype: bool
   A  B  C
b  4  5  6